@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(251, 251, 251);
  background: radial-gradient(
    circle,
    rgba(251, 251, 251, 1) 0%,
    rgba(148, 187, 233, 0.8589810924369747) 100%
  );
  /* background-color: #eee; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* colors: #0e3c00 */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: "Montserrat", sans-serif */
